body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Scarmento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

span {
  text-decoration: underline;
}

a {
  color: #11999E;
}

.about {
  font-family: 'Noto Sans', sans-serif;
}

.top_container {
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.middle-container {
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  /***if we want to style it,
then we need to style it relative to something if not than it will set relative to the whole body,
so we set it relative to to the top top_container***/
  bottom: 300px;
  left: 300px;
}

.paint {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dance {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row-1 {
  width: 50%;
  margin: 100px auto;
  margin-bottom: 10px;
  text-align: left;
  line-height: 2;
}

.skill-row-2 {
  width: 50%;
  margin: 100px auto;
  margin-top: 10px;
  text-align: left;
  line-height: 2;
}

hr {
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #ddf3f5;
  height: 1px;
  margin: 100px auto;
}

.profile {
  margin: 50px auto;
}

.skills {
  margin: 50px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 0
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
